body{
    color: rgb(102, 77, 31);
    background-image:url(../assets/images/dark-wood3.jpg);
    font-family: sans-serif;
    margin: 0px;
}
.container{
    width: 950px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(223, 128, 84)
}
.content{
    line-height: 1.4em;
    padding: 10px;
}
header,footer,nav{
    background-color: aquamarine;
}
nav ul{
    margin: 0;
    padding: 5px;
}

nav li{
    display:inline-block;
    margin-right: 40px;
    text-transform: uppercase;
}
nav a:link {
    color: blue;           
    text-decoration: none; 
  }
  
nav a:visited {
color: rgb(70, 11, 70);         
}

nav a:hover {
color: green;          
text-decoration: underline; 
}

nav a:active {
color: red;            
}

h2{
margin: 10px;
text-transform: uppercase;
color: rgb(43, 139, 43);
}

h3{
margin: 10px;
text-transform: uppercase;
color: rgb(3, 124, 3);
}

.img-centre{
    display: block;
    margin: 5px auto;
    padding: 2px;
}
audio,video{
    display: block;
    margin: 10px auto;
}
table{
    width: 800px;
    margin: 10px auto;
    border-collapse: collapse;
}

td,th,caption{
    border: 2px solid #333; 
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color:rgb(18, 173, 83);
}

th,tfoot td,caption{
    text-transform: uppercase;
    background-color: #346e34;
    color: #fff;
}

dt{
    font-weight: bold;
}

footer{
    font-size: 80%;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
}

iframe{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin: auto;
}

fieldset{
    width: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #dba737;
}

legend{

    font-style: italic;                  
    color: #ffffff;                      
    background-color: #007BFF;           
    margin: 0 10px;                       
    padding: 0 5px;                      
    border: 2px solid #0056b3;           
    border-radius: 8px; 
}

input[type="submit"] {
    border: 2px solid #007BFF;         
    padding: 5px;                      
    background-color: #c5662f;         
    color: #ffffff;                                       
    border-radius: 5px;                
    font-size: 16px;  
}

input[type="submit"]:hover {
  background-color: #218838;         
  color: #ffffff;                    
  cursor: pointer;                   
}